* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body html {
  font-family: Verdana, Verdana, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.antiquewhite {
  background-color: antiquewhite;
}

.row {
  max-width: 100%;
  margin: 0 auto;
  padding: 32px 10vw;
}

.search {
  padding: 5px;
  width: 90%;
}

#topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  max-width: 150px;
}
#logo img {
  max-width: 100%;
}

#topnav ul {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

#topnav ul li {
  list-style: none;
}
#topnav ul li a {
  text-decoration: none;
}
#topnav ul li:hover {
  background-color: rgba(33, 32, 32, 0.312);
  color: rgb(69, 194, 196);
  border-radius: 10%;
}

#search form {
  display: flex;
}

a {
  color: black;
}
.lightblue {
  background-color: hsl(205deg 41% 63%);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  border: 2px solid hsl(205deg 41% 63%);
}

.lightblue:hover {
  background-color: hsl(205deg 47% 42%);
}

.skyblue {
  background-color: hsl(206deg 100% 52%);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border: 2px solid hsl(206deg 100% 52%);
}
.skyblue:hover {
  background-color: rgb(28, 111, 174);
}

.container {
  display: flex;
  gap: 18px;
}

#leftpanel {
  width: 15%;
  border-right: 1px grey solid;
  min-height: 90vh;
}

#rightpanel {
  width: 30%;
}

#content {
  width: 45%;
}

#leftpanel ul li {
  list-style: none;
  padding: 5px;
}

#leftpanel ul li a {
  text-decoration: none;
}

#leftpanel a:hover {
  background-color: bisque;
}
#content-area {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px grey solid;
  padding: 20px;
}
#question {
  background-color: hsl(206deg 100% 52%);
  color: white;
  font-size: large;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border: 2px solid hsl(206deg 100% 52%);
  border-radius: 4%;
}
#question:hover {
  background-color: rgb(28, 111, 174);
}
#questions-asked {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
  justify-content: space-between;
  border-bottom: 1px grey solid;
}
table {
  border-collapse: collapse;
  width: 60%;
}

th,
td {
  border: 1px solid rgb(17, 16, 16);
  text-align: center;
  font-weight: normal;
  padding: 8px;
}

th:hover {
  background-color: rgba(167, 184, 200, 0.511);
}

th {
  background-color: whitesmoke;
}

th a {
  text-decoration: none;
  color: black;
}

h5 {
  font-weight: normal;
  font-size: large;
}
.header {
  color: hsl(206deg 100% 52%);
  padding: 10px;
}
.article {
  border-bottom: 1px grey solid;
  padding: 10px;
}
#pagination {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

#pagination a {
  padding: 15px 10px;
  text-decoration: none;
  color: black;
  border-radius: 2px;
}

#pagination button:hover {
  background-color: hsl(27deg 90% 55%);
  border: 2px solid hsl(27deg 90% 55%);
}
.current {
  background-color: hsl(27deg 90% 55%);
  border: 2px solid hsl(27deg 90% 55%);
}
