* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.antiquewhite {
  background-color: antiquewhite;
}

.row {
  max-width: 100%;
  margin: 0 auto;
  padding: 32px 10vw;
}

#topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  max-width: 150px;
}
#logo img {
  max-width: 100%;
}

#topnav ul {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

#topnav ul li {
  list-style: none;
}
#topnav ul li a {
  text-decoration: none;
}
#topnav ul li:hover {
  background-color: rgba(33, 32, 32, 0.312);
  color: black;
  border-radius: 10%;
}

#search form {
  display: flex;
}

a {
  color: black;
}
.lightblue:hover {
  color: lightblue;
  cursor: pointer;
  border-radius: 5px;
}

.skyblue:hover {
  background-color: skyblue;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  display: flex;
  gap: 18px;
}

#leftpanel {
  width: 15%;
  border-right: 1px grey solid;
  min-height: 90vh;
}

#rightpanel {
  width: 30%;
}

#content {
  width: 45%;
}

#leftpanel ul li {
  list-style: none;
  padding: 5px;
}

#leftpanel ul li a {
  text-decoration: none;
}

#leftpanel a:hover {
  background-color: bisque;
}
#content-area {
  display: flex;
  justify-content: space-between;
}
